Package: vyos-cfg-zabbix-agents
Version: 0.0.1
Architecture: amd64
Maintainer: Hiroyuki Sato <hiroysato@gmail.com>
Installed-Size: 84
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
